
<div id="page-background" class="creator">

    <div class="container">

        <div id="title-container" class="row">
            <h1 class="display-4">Creator Of Worlds</h2>
        </div>

        <div id="button-container" class="row">
            <button id="create-button" class='btn btn-primary'>create a new world</button>
        </div>

        <div id="worlds-container" class="row">
            Worlds to be displayed here
        </div>

        

        

        {{!-- <img src="{{image}}" class="img-fluid activity-image" alt="Responsive image"> --}}

        {{!-- <h2>{{name}}!</h2> --}}


    </div>

    <div id="switch-container">
        <div id="centered-content">
            <a href='/destroyer' id="fall-button" >Fall from Grace</a>
        </div>
    </div>
    
</div>